/*Palette de couleurs

gris texte article  #959595  rgb(149, 149, 149)
gris texte article  #67676d  rgb(103, 103, 109)



/* importation des polices via google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/*font-family: 'Open Sans', sans-serif;*/

/*style par défaut*/
body {
  background-color: white;
}

/*fixer la taille su site*/
.wrapper {
  margin: 0 18% 0 14%;
}

/*rendre les images responsives*/
img.responsive {
  width: 100%;
  height: auto;
}

/*header css*/

.masterheader {
  height: 950px;
  background-image: url(../img/masterhead.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}

.masterheader .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

header {
  height: 50%;
  width: 100%;
}

header figure {
  width: 6%;
  margin-top: 50px;
}

.masthead {
  height: 50%;
  width: 100%;
}

.masthead h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 40pt;
  font-style: normal;
  font-weight: 300;
  width: 32%;
  margin-bottom: 22px;
}

.masthead p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  width: 38%;
}

.masthead img {
  position: absolute;
  left: 48%;
  top: 26%;
}

/*section article 2 col*/

section .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

section h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 30pt;
  font-style: normal;
  font-weight: 300;
  margin-top: 100px;
}

section p {
  color: #959595;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 11pt;
  margin-top: 20px;
}

.col_left {
  width: 48.7%;
}

.col_right {
  width: 48.7%;
}

/*section box*/

/*polices*/

.box {
  color: white;
}

.box h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-weight: 300;
  padding-top: 40px;
  margin-left: 25px;
  height: 80px;
}

.box p {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 10pt;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 75%;
  height: 100px;
}

.box a {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 25px;
}

/*box dimension & color*/

.card {
  flex: 1 1 20%;
  min-height: 278px;
}

.extra {
  flex: 0 1 18%;
  min-height: 278px;
}

.double_box {
  flex: 2 0 40%;
  background-image: url(../img/box_large.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  min-height: 278px;
  order: 5;
}

.pink_box {
  background-color: #f5989d;
  order: 1;
}

.darkblue_box {
  background-color: #615f7d;
  order: 2;
}

.client_box {
  background-image: url(../img/client1.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  order: 3;
}

.green_box {
  background-color: #82ca9c;
  order: 6;
}

.violet_box {
  background-color: #bd8cbf;
  width: 284px;
  order: 4;
}

.extra_box {
  background-image: url(../img/extra_box.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  width: 284px;
  order: 7;
}

/*flexbox*/

.box .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.container .out-wrap {
  display: flex;
  flex-flow: row wrap;
  margin-left: 14%;
}

.align_link {
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
}

/*section 4 column*/

h3 {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 11pt;
  color: #67676d;
  margin-top: 65px;
}

section .flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.four_col {
  width: 23%;
  margin-bottom: 35px;
}

/*section full image*/

.fullimage {
  height: 868px;
  background-image: url(../img/fullimage.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.fullimage .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fullimage .empty {
  height: 50%;
}

.image h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 38pt;
  font-style: normal;
  font-weight: 300;
  width: 40.17%;
  margin-bottom: 22px;
}

.image p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  width: 40.17%;
  margin-bottom: 22px;
  line-height: 20px;
}

.image a {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/*section 3 column*/

.three_col {
  width: 31.5%;
  margin-bottom: 35px;
}

.section3col {
  background-color: #82ca9c;
  height: 525px;
}

.three_col h3 {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 11pt;
  color: white;
  margin-top: 65px;
}

.three_col p {
  color: white;
}

.section3col h2 {
  color: white;
  margin-top: 0;
}

.section3col {
  display: flex;
  align-items: center;
}

/*section buying*/

/*mise en forme container*/

.buying {
  background-color: #f6f7fa;
  height: 660px;
  display: flex;
  align-items: center;
}

.buying .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.legacy,
.popular {
  width: 48.7%;
  height: 380px;
  padding-left: 60px;
}

.popular {
  background-color: white;
}

/*mise en forme élément*/

.buying span {
  display: inline-block;
  border: white solid 1px;
  color: white;
  font-family: "Open Sans Extrabold", sans-serif;
  font-size: 8pt;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 40px;
}

.legacy span {
  background-color: #e1e1e1;
}

.popular span {
  background-color: #bd8cbf;
}

.buying h2 {
  font-family: "Open Sans Light", sans-serif;
  font-size: 22pt;
  color: #2e3b4e;
  margin: 25px 0;
}

.buying p {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  line-height: 20px;
  color: #8297a7;
  margin-bottom: 35px;
  width: 82.4%;
}

.button-buy {
  padding: 10px 15px;
  background-color: #82ca9c;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}

.liens_icons {
  margin-top: 30px;
}

.liens_icons a {
  color: #c5c5c5;
  font-size: 1.5rem;
  margin-right: 10px;
}

/*footer*/

.masterfooter {
  background-color: #192431;
  color: #f6f7fa;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

/*polices*/

footer h3 {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 11pt;
  color: #f6f7fa;
}

footer a,
footer p {
  color: #f6f7fa;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  text-decoration: none;
}

.below_btn {
  color: #57697f;
  margin-top: 0px;
}

/*flexbox*/

footer {
  display: flex;
  flex-flow: row wrap;
  height: 450px;
}

.row_one,
.row_two {
  display: flex;
  height: 50%;
}

.get_in_touch {
  width: 57.2%;
}

.get_in_touch p {
  width: 85%;
}

.stay_in_touch {
  width: 40.1%;
}

/*email bar*/

.email_bar {
  height: 50px;
  display: flex;
  border: solid 1px white;
  border-radius: 2px;
  margin-top: 20px;
}

.email_bar input {
  border: 0px;
  width: calc(100% - 50px);
}

.email_bar .btn_envoyer {
  border: 0px;
  width: 50px;
  background-color: #77c1ab;
  color: white;
}

/*section 2eme ligne*/

.row_two {
  justify-content: space-between;
  width: 40%;
}

.row_two p {
  margin-top: 0;
  margin-bottom: 20px;
}

.row_two li {
  margin-bottom: 10px;
}
